{% extends "base.html" %}

<!-- Authenticated page. -->

{% block content %}
<div class="grid grid-cols-5 gap-3">
    <div class="flex-1 justify-center ">Test</div>
    <div class="bg-red-100 col-span-4">
        <div id="map" style="height:400px;"></div>

    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const map = L.map("map").setView([0, 0], 2);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
        }).addTo(map);
		//Centre sur notre position
		function center_on_navigator_position(pos){
			console.log(pos.coords.latitude,pos.coords.longitude)
			map.flyTo(new L.LatLng(pos.coords.latitude, pos.coords.longitude),15)
		}
		function center_on_self(){
			if (navigator.geolocation) {
				navigator.geolocation.getCurrentPosition(center_on_navigator_position);
			}
		}
		center_on_self();
    });
</script>
{% endblock %}